html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;

}



/* mainContent Styles */
#mainContent {
	position: absolute;
	left: 15%;
	width: 85%;
	height: 90%;
	background: #e5e5e5;	
}

#map {
	margin-top: 6%;
	margin-left: 55%;
	min-width: 50px;
  width: 35%;
  min-height: 50px;
  height: 50%;
  border: 1px solid blue;
}

#divider {
	position: absolute;
	top: 20%;
	left: 22%;
	height: 40%;
	width: 1px;
	border-right: 1px black solid;
}

#tab-panel-menulist {
	float: left;
	height:10%;
	width: 40%;
	margin-top: 2%;
	margin-left: 5%;
}

#tab-panel-menulist2 {
	float:right;
	height: 100%;
	overflow: hidden;
	width: 40%;
	margin-top: 2%;
	margin-right: 10%;
}

#main-col1 {
	float: left;
	width: 40%;
	margin-left: 10px;
}

#main-col2 {
	float: right;
	width: 40%;
	margin-right: 10px;
}


#tab-panel-contactInfo{
	width: 350px;
	margin-left: 15%;
	margin-top: -28%;
}


/* sidebar Styles */
#side {
  position: absolute;
  height: 100%;
  width: 15%;
  left: 0;
  background: black;
}


/* footer Styles */
#footer {
	position: absolute;
	border-top: 1px black solid;
	left: 15%;
	bottom: 0;
	width: 85%;
	height: 10%;
	background: #fdf9d3;
	text-align: center;
	padding-bottom: 5px;
}


