
html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;

}



/* mainContent Styles */
#mainContent {
	position: absolute;
	left: 15%;
	width: 85%;
	height: 90%;
	background: #ffffcc;	
}

#map {
	margin-top: 50px;
	margin-left: 35%;
}


/* sidebar Styles */
#side {
  height: 100%;
  width: 15%;
  background: black;
  left: 0;
}

#side a {
	color: white;
	text-decoration: none;
}


.logo {
	text-align: center;
}

.logo img {
	display: inline;
}

/* footer Styles */
#footer {
	position: absolute;
	left: 228px;
	bottom: 0;
	width: 85%;
	height: 10%;
	background: #e5e5e5;
	text-align: center;
	padding-bottom: 5px;
}


