/********** TABS **********/
.tab-list {
  height: 100%;
  margin: 0;
  padding: 0;}

.tab-list li {
  display: inline-block;
  list-style-type: none;
  background-color: black;
  font-family: 'Jacques Francois', serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;}

.tab-list li a {
  color: #f2f2f2;
  display: block;
  width: 228px;
  height: 40px;
  padding-top: 20px;
  padding-left: 20px;}


/********** HOVER STATES **********/
.tab-list li.active, .tab-list li.hover {
  background-color: black;
  background: #e5e5e5;
  border: 3px solid #e5e5e5;}

.tab-list li.active a, .tab-list li a:hover {
  color: #666;
  background-color: #e5e5e5;}


/********** PANELS **********/
.tab-panel {
  display: none;
  background-color: #e5e5e5;
  color: #666;
  height: 90%;
  width: 85%;
  overflow: auto;}

.tab-panel.active {
  display: block;}

.tab-panel {
	padding: 20px;
}


/********** Home PANELS **********/

.home_contentPictures {
	text-align: center;
}

.mySlides {
	height: 250px;
	width: 450px;
	margin-left: 370px;
}

/********** About PANELS **********/

.drop {
	float: left;
	font-size: 230%;
	color: red;
	background: transparent;
	margin-bottom: -5px;
	margin-right: 5px;
}

.tab-panel-picAboutContent p{
	text-align: center;
}



/********** Menu PANELS **********/
/********** Maps PANELS **********/


/********** Contact PANELS **********/
.tab-panel-contact p, h2{
	text-align: center;
}

.tab-panel-contact{
	margin-top: -40px;
}

.tab-panel-divider{
	text-align: center;
	position: absolute;
	top: 85px;
	left: 370px;
	height: 1px;
	width: 700px;
	border-bottom: 1px black solid;
}

  